<div *ngIf="loading" class="absolute top-0 left-0 w-full h-full flex items-center justify-center bg-gray-500 rounded-lg bg-opacity-20 backdrop-blur-lg z-50">
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
</div>


<div class="bg-white dark:bg-[#333333] text-lightText dark:text-darkText rounded-lg shadow-lg p-8 w-full max-w-2xl">
  <div class="space-y-2 mb-8 text-center">
    <h1 id="reset-password" class="text-3xl font-bold text-teal-500" >Reset Password</h1>
    <p >Follow the steps to reset your password.</p>
  </div>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <!-- Step 1: Email Input -->
    <div class="" *ngIf="currentStep === 1">
      <label for="email" >Email</label>
      <input type="email" id="email" formControlName="email" class="input flex h-10 w-full duration-200 rounded-md border   px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">
      <button type="button" (click)="onSubmitEmail()" class="inline-flex mt-4 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors  disabled:pointer-events-none disabled:opacity-50 bg-teal-500 text-white hover:bg-teal-600 h-10 px-4 py-2 w-full" >Next</button>
      <button type="button" (click)="closeResetPassword()" class="w-full inline-flex items-center justify-center rounded-md bg-transparent px-4 py-2 text-sm font-medium text-lightText dark:text-darkText transition-colors hover:text-teal-500 dark:hover:text-teal-500 disabled:opacity-50 duration-300" >Cancel</button>

    </div>

    <!-- Step 2: Confirm User -->
    <div class="" *ngIf="currentStep === 2">
      <p >Is this your email: {{userEmail}}?</p>
      <p >Associated phone number: {{maskedPhoneNumber}}</p>
      <button type="button" (click)="confirmUser()" class="inline-flex mt-8 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors  disabled:pointer-events-none disabled:opacity-50 bg-teal-500 text-white hover:bg-teal-600 h-10 px-4 py-2 w-full" >Yes, it's me</button>
      <button type="button" (click)="currentStep = 1" class="w-full inline-flex items-center justify-center rounded-md bg-transparent px-4 py-2 text-sm font-medium text-lightText dark:text-darkText transition-colors hover:text-teal-500 dark:hover:text-teal-500 disabled:opacity-50 duration-300" >No, go back</button>
    </div>

    <!-- Step 3: OTP Input -->
    <div class="space-y-2" *ngIf="currentStep === 3">
      <label for="otp" >Verification Code</label>
      <div class="flex items-center justify-center gap-2">
        <input *ngFor="let i of [0,1,2,3,4,5]; let last = last"
               type="text"
               maxlength="1"
               class="w-12 h-12 text-center text-2xl border border-gray-500 rounded-md bg-white dark:bg-[#444444] text-lightText dark:text-darkText hover:border-teal-500 duration-200"
               [formControlName]="'digit' + (i+1)"
               (input)="onDigitInput($event, last)">
      </div>
      <button type="button" (click)="verifyOTP()" [disabled]="!isOtpValid()" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors  disabled:pointer-events-none disabled:opacity-50 bg-teal-500 text-white hover:bg-teal-600 h-10 px-4 py-2 w-full" >Verify</button>
      <button type="button" (click)="closeResetPassword()" class="w-full inline-flex items-center justify-center rounded-md bg-transparent px-4 py-2 text-sm font-medium text-lightText dark:text-darkText transition-colors hover:text-teal-500 dark:hover:text-teal-500 disabled:opacity-50 duration-300" >Cancel</button>

    </div>

    <!-- Step 4: New Password -->
    <div class="space-y-2" *ngIf="currentStep === 4">
      <div>
        <label for="newPassword" >New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" class="input flex h-10 w-full duration-200 rounded-md border   px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">
      </div>
      <div>
        <label for="confirmPassword" >Confirm New Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="input flex h-10 w-full duration-200 rounded-md border   px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none disabled:cursor-not-allowed disabled:opacity-50 dark:text-darkText">
      </div>
      <button type="submit" [disabled]="resetForm.invalid" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors  disabled:pointer-events-none disabled:opacity-50 bg-teal-500 text-white hover:bg-teal-600 h-10 px-4 py-2 w-full" >Reset Password</button>
    </div>
  </form>

  <!-- Step 5: Success Message -->
  <div class="space-y-4 text-center" *ngIf="currentStep === 5">
    <p >Your password has been successfully reset!</p>
    <button (click)="goToLogin()" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors  disabled:pointer-events-none disabled:opacity-50 bg-teal-500 text-white hover:bg-teal-600 h-10 px-4 py-2 w-full" >Go to Login</button>
  </div>

</div>
