<div class="w-full mx-auto py-12 px-4 sm:px-6 lg:px-8 bg-lightBackground dark:bg-[#222222] flex flex-col items-center gap-8">
  <div class="inline-block rounded-lg bg-teal-600 px-3 py-1 text-sm text-white font-semibold">Our sponsors</div>

  <div class="relative w-full ">
    <div class="overflow-hidden">
      <div class="flex space-x-12 animate-marquee">
        <ng-container *ngFor="let sponsor of sponsors">
          <a class="flex-shrink-0 group" [href]="sponsor.website" target="_blank" rel="noopener noreferrer">
            <img
              [src]="sponsor.imageUrl"
              [alt]="sponsor.name"
              class="h-16 md:h-24 w-auto object-contain filter grayscale transition-all duration-300 group-hover:grayscale-0 drop-shadow-[0_0_2px_rgba(0,0,0,.5)]"
              style="aspect-ratio: 160 / 80; object-fit: contain;"
            />
          </a>
        </ng-container>
      </div>
    </div>
    <div class="absolute inset-y-0 left-0 w-16 bg-gradient-to-r from-background to-transparent"></div>
    <div class="absolute inset-y-0 right-0 w-16 bg-gradient-to-l from-background to-transparent"></div>
  </div>
</div>
