.route-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(25%);
  }
}

.traveling {
  animation: bounce 2s ease-in-out infinite;
  display: inline-block;
}
